.flash-success {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.flash-error {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.flash-warning {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
}