.otl {
  font-size : 16px;
  color : green;
  font-weight: bold
}

.otl_zero {
  font-size : 10px;
  color : green;
  font-weight: bold
}

.resource_gap_postive
{
  text-align: center;
  font-size : 16px;
  color : red;
}
.resource_gap_negative_and_zero
{
  text-align: center;
}

.forecast {
  font-size : 16px;
  color : blue;
}

.zero {
  font-size : 10px;
  color : grey;
}

.update_success {
  background-color : rgb(88, 165, 0);
}

.update_error {
  background-color : #d9534f;
}

.too_low {
  color : red;
}

.customer {
  font-size : 26px !important;
  font-weight: bold !important;
}

.cluster {
  font-size : 30px !important;
  font-weight: bold !important;
}

.customer_total {
  font-size : 14px !important;
}

.revenue_section {
  font-size : 22px !important;
  font-weight: bold !important;
}

.title_section {
  font-size : 18px !important;
  font-weight: bold !important;
}
.no_revenue {
  color: red;
}

.total {
  font-size : 16px !important;
  font-weight: bold !important;
  color : rgba(26, 24, 24, 0.671);
}

.total-bg {
  background-color: rgba(190, 216, 255, 0.25);
}