
td.details-control {
background: url("../plugins/datatables/details_open.png") no-repeat center center;
cursor: pointer;
}
tr.shown td.details-control {
    background: url("../plugins/datatables/details_close.png") no-repeat center center;
}

th.first_column {
  width: 15px;
}

th.last_column {
  width: 40px;
}
