table#LoeTable {
  overflow-x: auto;
}

table#LoeTable th{
  vertical-align: top;
  white-space: nowrap;
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-menu {
  background-color: #f7f7f7;
}

.dropdown-header, .grand_total {
  font-size: 14px;
  font-weight: bold;
}

.dropdown-selection {
  font-size: 12px;
}
.dropdown-selection:hover {
  font-weight: bold;
}

.tab-content {
  height: auto! Important;
}

.tooltip-wrapper {
  display: inline-block; /* display: block works as well */
}

.tooltip-wrapper input[disabled] {
  /* don't let button block mouse events from reaching wrapper */
  pointer-events: none;
}

.tooltip-wrapper.disabled {
  /* OPTIONAL pointer-events setting above blocks cursor setting, so set it here */
  cursor: not-allowed;
}

.update_success {
  background-color : rgb(196, 231, 157);
}

.update_error {
  background-color : #d9534f;
}

.update_warning {
  background-color : #ffb13b;
}